* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

.container {
  padding: 50px 15px 20px 15px;
}

 :root:root {
  --van-background-2:#6ba4e4;
   --van-text-color-2: #b3d9ff;
 }